@import "/src/styles.scss";

.slider-container {
  width: 100%;
}

.slider-container > input[type=range] {
  width: 99%;
  height: 1em;
  -webkit-appearance: none;
  overflow: hidden;
  
  // Entire bar 
  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: $gray-text;
  }

  // Tumb only
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: $white;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    // Left filled section in slider
    box-shadow: -100.5em 0 0 100em $white;

    &:hover {
      -webkit-appearance: none;
      border-radius: 50%;
      background: $white;
      box-shadow: -100.5em 0 0 100em $green;
    }
  }
}