<div class="LeftMenu">
    <div class="Container">
        <div class="HomeMenuElement">
            <a href="#">
                <img [src]="homeIcon">
                <p>Home</p>
            </a>
        </div>
        <div class="HomeMenuElement">
            <a href="#">
                <img [src]="searchIcon">
                <p>Search</p>
            </a>
        </div>
        <div class="HomeMenuElement">
            <a href="#">
                <img [src]="libaryIcon">
                <p>Your Libary</p>
            </a>
        </div>
        <div class="HomeMenuElement">
            <a href="#">
                <img [src]="createPlaylistIcon">
                <p>Create Playlist</p>
            </a>
        </div>
        <div class="HomeMenuElement">
            <a href="#">
                <img [src]="likedSongsIcon">
                <p>Liked Songs</p>
            </a>
        </div>
    </div>
    <div class="Container Size">
        <div class="HomeMenuElement SmallerHomeFont">
            <a href="#">
                <p>Chill Vibes</p>
            </a>
        </div>
        <div class="HomeMenuElement SmallerHomeFont">
            <a href="#">
                <p>Summer Hits</p>
            </a>
        </div>
        <div class="HomeMenuElement SmallerHomeFont">
            <a href="#">
                <p>Workout Motivation</p>
            </a>
        </div>
        <div class="HomeMenuElement SmallerHomeFont">
            <a href="#">
                <p>Party Time</p>
            </a>
        </div>
        <div class="HomeMenuElement SmallerHomeFont">
            <a href="#">
                <p>Road Trip</p>
            </a>
        </div>
        <div class="HomeMenuElement SmallerHomeFont">
            <a href="#">
                <p>Classical Masterpiece</p>
            </a>
        </div>
        <div class="HomeMenuElement SmallerHomeFont">
            <a href="#">
                <p>Chill Vibes</p>
            </a>
        </div>
        <div class="HomeMenuElement SmallerHomeFont">
            <a href="#">
                <p>Summer Hits</p>
            </a>
        </div>
        <div class="HomeMenuElement SmallerHomeFont">
            <a href="#">
                <p>Workout Motivation</p>
            </a>
        </div>
        <div class="HomeMenuElement SmallerHomeFont">
            <a href="#">
                <p>Party Time</p>
            </a>
        </div>
        <div class="HomeMenuElement SmallerHomeFont">
            <a href="#">
                <p>Road Trip</p>
            </a>
        </div>
        <div class="HomeMenuElement SmallerHomeFont">
            <a href="#">
                <p>Classical Masterpiece</p>
            </a>
        </div>
        <div class="addSection">
            <img [src]="addIcon">
        </div>
    </div>
</div>