<div class="Container Size">
    <div class="NavigationButtons">

        <div class="NavigationButtonBackground">
            <a href="#">
                <img [src]="leftArrowIcon">
            </a>
        </div>

        <div class="NavigationButtonBackground">
            <a href="#">
                <img [src]="rightArrowIcon">
            </a>
        </div>


        <div class="NavigationButtonUser">
            <div>
                <a href="#">
                    <div class="NavigationButtonUserIcon">

                        <img [src]="profileIcon">

                    </div>
                    <div class="NavigationButtonUsername">
                        Arek
                    </div>
                </a>
            </div>
        </div>

    </div>
    <div>
        <div class="PlaylistHeaderImage">
            <img [src]="playlistHeaderImage">
        </div>
        <div class="PlaylistDescription">
            <div class="PlaylistAccessability">
                PUBLIC PLAYLIST
            </div>
            <div class="PlaylistName">
                Classic Road Trip Songs
            </div>
            <div class="PlaylistShortDesc">
                A soundtrack to fuel your good mood while on the road.
            </div>
            <img [src]="spotifyLogo">
            <div class="PlaylistStatistics">
                <b>Spotify</b> · 5,133.282 likes · 100 songs, 6 hr 59 min
            </div>
        </div>
    </div>
</div>