@import "../../styles.scss";

.Size {
    //background: rgb(228,228,228);
    background: linear-gradient(0deg, rgba(121,121,121,1) 0%, rgba(228,228,228,1) 100%);
    float: left;
    width: calc(100% - 20em - 2.5em);
}

.NavigationButtonBackground {
    float: left;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    background-color: black;
    margin: 0.3em;
}

.NavigationButtonBackground a {
    @include GreyTransformation;
}
.NavigationButtonBackground > a:hover {
    @include LightGreyTransformation;
}
.NavigationButtonBackground a img {
    height: 100%;
    width: 100%;
}
.NavigationButtonUser {
    float: right;
    background-color: #434343;
    color: #c5c6c7;
    width: 10em;
    height: 2.75em;
    border-radius: 1.35em; 
}

.NavigationButtonUserIcon {
    float: left;   
    background-color: #545454;
    border-radius: 50%; 
}
.NavigationButtonUserIcon img {
    @include GreyTransformation;
    width: 2em;
    height: 2em;
    margin: 0.25em;
}


.NavigationButtonUsername {
    float: left;
    color: #c5c6c7;
    font-size: 2em;
    margin-left: 0.3em;
}


.PlaylistHeaderImage{
    clear:both;
}

.PlaylistHeaderImage img {
    width: 15em;
    height: 15em;
    margin: 1em;
    box-shadow: 0px 0px 100px 10px #545454;
    float: left;
}

.PlaylistDescription {
    margin-top: 3em;
    margin-left: 1em;
    color: white;
    bottom:0;
    float: left;
    
}

.PlaylistDescription img {
    float: left;
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
}

.PlaylistAccessability {
     font-size: 0.7em;
}

.PlaylistName {
    letter-spacing: 1px;
    font-size: 5.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.PlaylistShortDesc{
    color: #434343;
    padding-bottom: 0.5em;
}

.PlaylistStatistics{
    font-size: 1.1em;
}