<div class="Container Size">
    <div class="PlaylistControl">
        <div class="ControlButton GreenBackgroundColor">
            <a href="#">
                <img [src]="pauseButton">
            </a>
        </div>
        <div class="ControlButton">
            <a href="#">
                <img [src]="likeSongButton">
            </a>
        </div>
        <div class="ControlButton">
            <a href="#">
                <img [src]="downloadButton">
            </a>
        </div>
        <div class="ControlButton">
            <a href="#">
                <img [src]="moreOptionsButton">
            </a>
        </div>
        <div class="ControlButton FloatRight">
            <a href="#">
                <img [src]="searchIcon">
            </a>
        </div>
    </div>

    <table>
        <tr>
            <th>#</th>
            <th>TITLE</th>
            <th>ALBUM</th>
            <th>DATE ADDED</th>
            <th> <img [src]="songDurationIcon"></th>
        </tr>
        <tr>
            <td>
                <div class="SortingNumber">1</div>
            </td>
            <td><img [src]="exampleSongIcon">
                <div class="SongSummary">
                    <div class="SongTitle">Young as the Morning old as the Sea</div>
                    <div class="SongAuthor">Passenger</div>
                </div>
            </td>
            <td>
                <div class="SongAlbum">Young as the Morning old as the Sea</div>
            </td>
            <td>
                <div class="SongDateAdded">Nob 12, 2021</div>
            </td>
            <td>3:26</td>
        </tr>
        <tr>
            <td>
                <div class="SortingNumber">2</div>
            </td>
            <td><img [src]="exampleSongIcon">
                <div class="SongSummary">
                    <div class="SongTitle">Young as the Morning old as the Sea</div>
                    <div class="SongAuthor">Passenger</div>
                </div>
            </td>
            <td>
                <div class="SongAlbum">Young as the Morning old as the Sea</div>
            </td>
            <td>
                <div class="SongDateAdded">Nob 12, 2021</div>
            </td>
            <td>3:26</td>
        </tr>
        <tr>
            <td>
                <div class="SortingNumber">3</div>
            </td>
            <td><img [src]="exampleSongIcon">
                <div class="SongSummary">
                    <div class="SongTitle">Young as the Morning old as the Sea</div>
                    <div class="SongAuthor">Passenger</div>
                </div>
            </td>
            <td>
                <div class="SongAlbum">Young as the Morning old as the Sea</div>
            </td>
            <td>
                <div class="SongDateAdded">Nob 12, 2021</div>
            </td>
            <td>3:26</td>
        </tr>
        <tr>
            <td>
                <div class="SortingNumber">4</div>
            </td>
            <td><img [src]="exampleSongIcon">
                <div class="SongSummary">
                    <div class="SongTitle">Young as the Morning old as the Sea</div>
                    <div class="SongAuthor">Passenger</div>
                </div>
            </td>
            <td>
                <div class="SongAlbum">Young as the Morning old as the Sea</div>
            </td>
            <td>
                <div class="SongDateAdded">Nob 12, 2021</div>
            </td>
            <td>3:26</td>
        </tr>
        <tr>
            <td>
                <div class="SortingNumber">5</div>
            </td>
            <td><img [src]="exampleSongIcon">
                <div class="SongSummary">
                    <div class="SongTitle">Young as the Morning old as the Sea</div>
                    <div class="SongAuthor">Passenger</div>
                </div>
            </td>
            <td>
                <div class="SongAlbum">Young as the Morning old as the Sea</div>
            </td>
            <td>
                <div class="SongDateAdded">Nob 12, 2021</div>
            </td>
            <td>3:26</td>
        </tr>
        <tr>
            <td>
                <div class="SortingNumber">6</div>
            </td>
            <td><img [src]="exampleSongIcon">
                <div class="SongSummary">
                    <div class="SongTitle">Young as the Morning old as the Sea</div>
                    <div class="SongAuthor">Passenger</div>
                </div>
            </td>
            <td>
                <div class="SongAlbum">Young as the Morning old as the Sea</div>
            </td>
            <td>
                <div class="SongDateAdded">Nob 12, 2021</div>
            </td>
            <td>3:26</td>
        </tr>
    </table>
</div>