@import "../../styles.scss";

.Size{
    background-color: #181818;
    position: fixed;
    bottom: 0;
    width: calc(100% - 1em);
    padding: 0.5em;
    height: 4em;
    text-align: center;
    justify-content: space-between; 
}
.CurrentSongSection {
    float: left;
}

.VolumeControlSection {
    float: right;
    margin-top: 1em;
}
.CurrentSongSection, .MusicPlayerSection, .VolumeControlSection {
    display: inline-block; /* Elements behave like inline elements */
    vertical-align: middle; /* Vertically align elements in the middle */
  }

.SongTitle {
    margin: 0.4em;
    color: white;
    width: 10em;
    text-align: left;
}

.SongAuthor {
    margin: 0.4em;
    margin-top: -0.2em;
    color: #6d6d6d;
    padding: -1em;
}

.LikeButton {
    margin: 1em 0em 0em 0em;
    float: right;
}
.SongDetailsSection {
    float: left;
    text-align: left;
}
.BigButton {
    width: 2em;
    height: 2em;
    float: left;
    margin: 0 0.25em 1em 0.25em;
}
.BigButton img {
    width: 1em;
    height: 1em;
    margin: 0.5em;
    @include GreyTransformation;
}
.GreenBackgroundColor img {
    width: 1em;
    height: 1em;
    margin: 0.5em;
    filter: invert(0);
}
.GreenBackgroundColor {
    background-color: #23d86d;
    border-radius: 50%;
    
}

.CurrentTimeOfSong, .SongDuration {
    color: white;
    display: inline;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.ProgressBar {
    margin-top: 0.25em;
}

.ControlPanel {
    display: flex;
    justify-content: center;
}

.VolumeBarContainer {
    width: 5em;
    float: right;
    margin-top: 0.5em;
}